body{
    background-image: url(dog.jpg);
}

h1{
    background-color: salmon;
}

div{
    position: absolute;
    left: 200px;
    top: 200px;
    width: 400px;
    height: 200px;
    background-color: salmon;
    padding: 10px;
    opacity:0.5 ;
    border: darksalmon 10px solid;
    opacity: 0.5;
}